/* CSS BODY */
:root {
  --font-main: calc(3em + 3vw);
  --font-title: calc(1.2em + 1vw);
  --font-text: 18px;
  --first-color: rgb(32, 32, 32);
  --second-color: rgba(44, 43, 44, 0.384);
  --thrid-color: rgb(92, 225, 230);
  --optional-color: rgba(6, 80, 156, 0.93);
  --letter-color: rgb(255, 255, 255);
  --width-page: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: var(--font-text);
  scroll-behavior: smooth;
  scroll-margin-top: 70px;
}

body {
  color: var(--letter-color);
  background: url(img/back.svg), rgba(24, 28, 39, 1);
  background-position: center;
}

/* CSS NAV */

.nav-links-mini {
  display: none;
}

.panel {
  display: none;
}

.nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.nav:hover {
  background-color: var(--first-color);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width-page);
  margin-left: auto;
  margin-right: auto;
}

.nav-logo img {
  width: 230px;
  height: 60px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 15px;
}

.nav-links a {
  background-color: transparent;
  color: var(--thrid-color);
  padding: 18px;
  font-size: 21px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.nav-links a:hover {
  border-bottom: 3px solid var(--thrid-color);
}

@media screen and (max-width: 550px) {
  .nav-links {
    display: none;
  }

  .nav {
    background-color: var(--first-color);
  }

  .nav-links-mini {
    display: block;
    padding-right: 15px;
  }

  .nav-links-mini button {
    border: none;
    background-color: transparent;
    color: var(--letter-color);
  }

  .panel {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--first-color);
    width: 100%;
    height: 105vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 990;
  }

  .link-mini {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
  }

  .link-mini a {
    width: 100%;
    padding: 30px;
    text-decoration: none;
    color: var(--letter-color);
    background: linear-gradient(
      180deg,
      transparent,
      var(--thrid-color),
      transparent
    );
    font-size: 25px;
  }

  .is-active {
    display: flex;
  }
}

/* CSS HOME */

#home {
  /* min-height: 605px; */
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/homeImg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-gradient {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  background: rgb(24, 28, 39);
  background: linear-gradient(
    0deg,
    rgba(24, 28, 39, 1) 33%,
    rgba(255, 255, 255, 0) 100%
  );
}

.home-container {
  max-width: var(--width-page);
}

.home-info {
  height: 75vh;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background: rgb(24, 28, 39);
  background: radial-gradient(
    circle,
    rgba(24, 28, 39, 0) 35%,
    var(--thrid-color) 52%,
    rgba(24, 28, 39, 0) 65%
  );
  animation: ring infinite normal 1.5s 1s ease-out both;
}

@keyframes ring {
  0% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 42%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  10% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 45%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  20% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 48%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  30% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 53%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  40% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 57%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  50% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 60%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  55%,
  75% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 63%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  80% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 60%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  85% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 57%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  88% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 53%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  93% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 48%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  96% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 45%,
      rgba(24, 28, 39, 0) 65%
    );
  }
  100% {
    background: radial-gradient(
      circle,
      rgba(24, 28, 39, 0) 35%,
      var(--thrid-color) 42%,
      rgba(24, 28, 39, 0) 65%
    );
  }
}

.home-info h1 {
  font-size: var(--font-main);
}

.home-info h2 {
  font-size: var(--font-title);
  border-bottom: 3px solid var(--letter-color);
  color: var(--optional-color);
}
.home-info p {
  color: var(--first-color);
}

@media screen and (min-height: 605px) {
  #home {
    min-height: 100vh;
  }

  #home::after {
    min-height: 110vh;
  }
}

/* CSS ABOUT */

#about {
  min-height: 80vh;
  width: 100%;
  position: relative;
}

@media screen and (min-height: 800px) {
  #about {
    min-height: 40vh;
  }
}

#about h2 {
  font-size: var(--font-title);
  color: var(--letter-color);
}

.about-main {
  position: relative;
  max-width: var(--width-page);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 40px;
}

.about-container {
  padding: 9px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.me-container {
  min-height: 350px;
  max-width: 550px;
  padding: 20px;
  font-size: var(--font-text);
  background-color: var(--first-color);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  gap: 10px;
}

.me-container p {
  padding-bottom: 60px;
}
.me-container h3 {
  color: var(--thrid-color);
}

.me-image {
  position: absolute;
  width: 160px;
  height: 160px;
  bottom: -60px;
  right: -5px;
  z-index: 3;
}

.me-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.divider {
  position: absolute;
  width: 2px;
  height: 115%;
  background-color: var(--letter-color);
  right: -35px;
}

@media screen and (max-width: 750px) {
  .about-container {
    flex-flow: row wrap;
  }

  .divider {
    display: none;
  }
}

.skills-container {
  min-width: 300px;
  min-height: 350px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  gap: 30px;
}

.skills-container h3 {
  font-size: var(--font-title);
  color: var(--thrid-color);
}

.skills-icons {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px;
}

.box-skill {
  background-color: var(--first-color);
  width: 100px;
  height: 95px;
  padding: 10px;
  border-radius: 20% 80% 24% 76% / 77% 32% 68% 23%;
}

.box-skill:hover {
  transform: scale(1.1);
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 5px;
}

.html i,
.html p {
  color: #f2652c;
}

.css i,
.css p {
  color: #2196f3;
}

.js i,
.js p {
  color: #f7e01d;
}

.react i,
.react p {
  color: #63dcf5;
}

.github i,
.github p {
  color: white;
}

.git i,
.git p {
  color: #f64d27;
}

.node i,
.node p {
  color: #5f8f5c;
}

.mongodb p {
  color: #13a852;
}

/* CSS PROJECTS */

#projects {
  position: relative;
  width: 100%;
  min-height: 70vh;
}

@media screen and (min-height: 800px) {
  #projects {
    min-height: 40vh;
  }
}

#projects h2 {
  font-size: var(--font-title);
  color: var(--letter-color);
  padding-top: 10px;
}

.projects-container {
  max-width: var(--width-page);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}

.card-container {
  width: 100%;
  padding: 30px 15px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 30px;
  margin-top: 20px;
}

.card {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border: 3px solid black;
  border-radius: 10px;
  background-color: var(--first-color);
}

.card:hover {
  transform: scale(1.1);
}

.card:hover img {
  filter: grayscale(0);
}

.card-img {
  width: 100%;
}

.card-img img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: grayscale(90%);
  transition: filter 1s ease-in;
}

@media screen and (max-width: 990px) {
  .card-img img {
    filter: grayscale(0);
  }
}

.details {
  gap: 15px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.details h3 {
  color: var(--letter-color);
  font-weight: 600;
  font-size: var(--font-text);
}

.container-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.html {
  color: #f2652c;
}

.css {
  color: #2196f3;
}

.js {
  color: #f7e01d;
}

.react {
  color: #63dcf5;
}

.node {
  color: #5f8f5c;
}

.container-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-buttons button {
  font-family: inherit;
  display: inline-block;
  width: 90px;
  height: 40px;
  cursor: pointer;
  padding: 5px;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: white;
  background-color: black;
}

.container-buttons button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--thrid-color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.container-buttons button:hover {
  color: #fff;
}

.container-buttons button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.container-buttons button:hover:before {
  top: -30px;
  left: -30px;
}

.container-buttons button:active:before {
  background: var(--thrid-color);
  transition: background 0s;
}

/* CSS FOOTER */

#contact {
  width: 100%;
  margin-top: 20px;
  position: relative;
  background: rgb(24, 28, 39);
  background: linear-gradient(360deg, var(--first-color) 55%, transparent 100%);
}

#contact a {
  text-decoration: none;
  color: var(--letter-color);
}

.footer-container {
  position: relative;
  min-height: 40vh;
  max-width: var(--width-page);
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-height: 800px) {
  .footer-container {
    min-height: 30vh;
  }
}

.footer-container h2 {
  font-size: var(--font-title);
  color: var(--letter-color);
  padding-top: 40px;
}

.footer-container h3 {
  font-size: var(--font-text);
  color: var(--thrid-color);
  padding-top: 15px;
  text-align: center;
}

.container-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 14px;
  padding: 40px 20px;
  margin-bottom: 30px;
}

.container-contact figure {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  border-radius: 5px;
}

.container-contact figure:hover {
  transform: scale(1.15);
}

.container-contact figcaption p {
  font-size: var(--font-text);
  color: var(--letter-color);
}

.contact-git:hover {
  background-color: #b7b8b8;
}
.contact-twitter:hover {
  background-color: #1c9bf0;
}

.contact-mail:hover {
  background-color: #e94335;
}

.contact-linkedin:hover {
  background-color: #006599;
}

.copyright {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@media screen and (max-width: 990px) {
  .contact-git {
    background-color: #b7b8b8;
  }
  .contact-twitter {
    background-color: #1c9bf0;
  }

  .contact-mail {
    background-color: #e94335;
  }

  .contact-linkedin {
    background-color: #006599;
  }
}
