/* CSS BODY */
:root {
  --font-main: calc(3em + 3vw);
  --font-title: calc(1.2em + 1vw);
  --font-text: 18px;
  --first-color: rgb(32, 32, 32);
  --second-color: rgba(44, 43, 44, 0.384);
  --thrid-color: rgb(66, 148, 191);
  --thrid-color-05: rgba(125, 144, 239, 0.25);
  --fourth-color: rgb(242, 100, 87);
  --fourth-color-05: rgba(252, 140, 99, 0.25);
  --letter-color: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: var(--font-text);
  scroll-behavior: smooth;
  scroll-margin-top: 70px;
}

body {
  color: var(--letter-color);
  background-image: url(img/wallpaperFondo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

/* CSS NAV */

.nav-links-mini {
  display: none;
}

.panel {
  display: none;
}

.nav {
  background-color: var(--first-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-logo {
  margin-left: 5px;
}

.nav-logo img {
  width: 230px;
  height: 60px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 15px;
}

.nav-links a {
  background-color: transparent;
  color: var(--letter-color);
  padding: 18px;
  font-size: 21px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.nav-links a:hover {
  border-bottom: 2px solid var(--letter-color);
}

@media screen and (max-width: 550px) {
  .nav-links {
    display: none;
  }

  .nav-links-mini {
    display: block;
    padding-right: 15px;
  }

  .nav-links-mini button {
    border: none;
    background-color: transparent;
    color: var(--letter-color);
  }

  .panel {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--first-color);
    width: 100%;
    height: 105vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 990;
  }

  .link-mini {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
  }

  .link-mini a {
    width: 100%;
    padding: 30px;
    text-decoration: none;
    color: var(--letter-color);
    background: linear-gradient(
      180deg,
      var(--thrid-color),
      var(--fourth-color)
    );
    font-size: 25px;
  }

  .is-active {
    display: flex;
  }
}

/* CSS HOME */

#home {
  min-height: 605px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#home::after {
  content: "";
  width: 100%;
  min-height: 705px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    var(--thrid-color),
    transparent,
    transparent,
    transparent
  );
}

@media screen and (min-height: 605px) {
  #home {
    min-height: 100vh;
  }

  #home::after {
    min-height: 110vh;
  }
}

.home-container {
  max-width: 1300px;
  height: 350px;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background: linear-gradient(
    180deg,
    var(--thrid-color-05),
    var(--fourth-color-05)
  );
  border-radius: 13% 87% 24% 76% / 61% 23% 77% 39%;
}

.home-container h1 {
  font-size: var(--font-main);
}

.home-container h2 {
  font-size: var(--font-title);
  border-bottom: 3px solid var(--second-color);
  color: var(--first-color);
}
.home-container p {
  color: var(--first-color);
}

/* CSS ABOUT */

#about {
  min-height: 90vh;
  /* margin-top: -1px;
  padding: 60px 0 0; */
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 40px;
  background: linear-gradient(180deg, var(--thrid-color), var(--fourth-color));
  position: relative;
}

@media screen and (min-height: 800px) {
  #about {
    min-height: 40vh;
  }
}

#about h2 {
  font-size: var(--font-title);
  color: var(--first-color);
  /* padding-top: 10px; */
}

.about-container {
  width: 95%;
  padding: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.me-container {
  min-height: 350px;
  max-width: 620px;
  padding: 20px;
  font-size: var(--font-text);
  background-color: var(--first-color);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  gap: 10px;
}

.me-container p {
  padding-bottom: 60px;
}
.me-container h3 {
  color: var(--thrid-color);
}

.me-image {
  position: absolute;
  width: 190px;
  height: 190px;
  bottom: -72px;
  right: -20px;
  z-index: 3;
}

.me-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.divider {
  position: absolute;
  width: 2px;
  height: 115%;
  background-color: var(--letter-color);
  right: -35px;
}

@media screen and (max-width: 750px) {
  .about-container {
    flex-flow: row wrap;
  }

  .divider {
    display: none;
  }
}

.skills-container {
  min-width: 300px;
  min-height: 350px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  gap: 30px;
}

.skills-container h3 {
  font-size: var(--font-title);
}

.skills-icons {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px;
}

.box-skill {
  background-color: var(--first-color);
  width: 95px;
  height: 95px;
  padding: 10px;
  border-radius: 20% 80% 24% 76% / 77% 32% 68% 23%;
}

.box-skill:hover {
  transform: scale(1.1);
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 5px;
}

.html i,
.html p {
  color: #f2652c;
}

.css i,
.css p {
  color: #2196f3;
}

.js i,
.js p {
  color: #f7e01d;
}

.react i,
.react p {
  color: #63dcf5;
}

.ts p {
  color: #3178c6;
}

.github i,
.github p {
  color: white;
}

.git i,
.git p {
  color: #f64d27;
}

/* CSS PROJECTS */

#projects {
  min-height: 100vh;
  padding-bottom: 40px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  background: linear-gradient(0deg, var(--thrid-color), var(--fourth-color));
  position: relative;
}

@media screen and (min-height: 800px) {
  #projects {
    min-height: 40vh;
  }
}

#projects h2 {
  font-size: var(--font-title);
  color: var(--first-color);
  padding-top: 10px;
}

.before-contact {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: -75px;
  background: linear-gradient(180deg, var(--thrid-color), var(--fourth-color));
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
}

.before-contact-img {
  max-width: 190px;
  max-height: 190px;
  position: absolute;
  bottom: -80px;
}

.before-contact-img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.flecha {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -190px;
  border-top: 60px solid var(--fourth-color);
  border-bottom: 60px solid transparent;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  z-index: -1;
}

.card-container {
  width: 90%;
  padding: 30px 15px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 30px;
  margin-top: 40px;
  background-color: var(--second-color);
}

.card {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border: 3px solid black;
  border-radius: 10px;
  background-color: var(--first-color);
}

.card:hover {
  transform: scale(1.1);
}

.card:hover img {
  filter: grayscale(0);
}

.card-img {
  width: 100%;
}

.card-img img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: grayscale(80%);
  transition: all 1s ease-in;
}

@media screen and (max-width: 990px) {
  .card-img img {
    filter: grayscale(0);
  }
}

.details {
  gap: 15px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.details h3 {
  color: var(--letter-color);
  font-weight: 600;
  font-size: var(--font-text);
}

.container-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.html {
  color: #f2652c;
}

.css {
  color: #2196f3;
}

.js {
  color: #f7e01d;
}

.react {
  color: #63dcf5;
}

.container-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-buttons button {
  font-family: inherit;
  display: inline-block;
  width: 90px;
  height: 40px;
  cursor: pointer;
  padding: 5px;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: white;
  background-color: black;
}

.container-buttons button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--thrid-color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.container-buttons button:hover {
  color: #fff;
}

.container-buttons button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.container-buttons button:hover:before {
  top: -30px;
  left: -30px;
}

.container-buttons button:active:before {
  background: var(--thrid-color);
  transition: background 0s;
}

/* CSS FOOTER */

#contact {
  margin-top: 90px;
  position: relative;
}

#contact a {
  text-decoration: none;
  color: var(--letter-color);
}

.footer-container {
  min-height: 50vh;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-height: 800px) {
  .footer-container {
    min-height: 30vh;
  }
}

.footer-container h2 {
  font-size: var(--font-title);
  color: var(--first-color);
  padding-top: 40px;
}

.footer-container h3 {
  font-size: var(--font-text);
  color: var(--first-color);
  padding-top: 15px;
  text-align: center;
}

.container-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 14px;
  padding: 40px 20px;
}

.container-contact figure {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  border-radius: 5px;
}

.container-contact figure:hover {
  transform: scale(1.15);
}

.container-contact figcaption p {
  font-size: var(--font-text);
  color: var(--letter-color);
}

.contact-git,
.contact-twitter,
.contact-mail,
.contact-linkedin {
  background-color: var(--first-color);
}

.contact-git:hover {
  background-color: #b7b8b8;
}
.contact-twitter:hover {
  background-color: #1c9bf0;
}

.contact-mail:hover {
  background-color: #e94335;
}

.contact-linkedin:hover {
  background-color: #006599;
}

.copyright {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@media screen and (max-width: 990px) {
  .contact-git {
    background-color: #b7b8b8;
  }
  .contact-twitter {
    background-color: #1c9bf0;
  }

  .contact-mail {
    background-color: #e94335;
  }

  .contact-linkedin {
    background-color: #006599;
  }
}
